name: Artifact

on: push

env:
  ARTIFACT_NAME: myartifact

jobs:
    build:
        name: Build
        runs-on: ubuntu-latest
        
        steps:
            - name: check out the code
              uses: actions/checkout@v2
              
            - name: upload Artifact
              uses: actions/upload-artifact@v2
              with:
                name: ${{env.ARTIFACT_NAME}}
                Path: .
              

  

